button{
    /* background-color: black;
    border: 1px solid yellow; */
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    /* width: 100%; */
}

button:hover{
    background-color: grey;
    color: white;
}

button.darkMode, .darkMode button{
    background-color: black;
    border: 1px solid yellow;
    color: white;
}

button.lightMode, .lightMode button{
    background-color: #ccc;
    border: 1px solid black;
    color: black;
}